{{#extends 'base'}}

{{#block 'content'}}

<h1>User Profile</h1>
<ul>
    <li>Username: {{user.username}}</li>
    <li>Email: {{user.email}}</li>
</ul>

<a href="/users/logout" class="btn btn-success">Log Out</a>

{{/block}}

{{/extends}}